
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  border: 2px solid black;
}

.form-group {
  margin-bottom:10px;
}
.form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

h1 {
  size: 60px;
  text-align: center;
}

.center {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: 'no-repeat';
  background-position: center;
  background-size: cover;
}

.center input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 500px;
}

.center button{
  padding: 6px 10px;
  margin-right: 14px;
  background: #6cb4ba;
  font-size: 18px;
}

#navbar-input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 300px;
}

#navbar-button {
  padding: 6px 10px;
  margin-right: 14px;
  background: #c0f2fa;
  font-size: 18px;
  cursor: pointer;
}
.nav-item {
  padding-right: 6px;
}